@tailwind base;
@tailwind components;
@tailwind utilities;

/* QHD pc */
:root {
    margin: 0 40rem;
    padding: 0;
    box-sizing: border-box;
    background-color: #10172b;
}
.slick-slider .slick-slide {
    padding: 0 15px;
}

/* FHD PC */
@media screen and (max-width: 1920px) {
    :root {
        margin: 0px 10rem;
    }
}
/* tablet */
@media screen and (max-width: 1280px) {
    :root {
        margin: 0px 5rem;
    }
}
/* mobile */
@media screen and (max-width: 768px) {
    :root {
        margin: 0;
    }
}
